# Configuración general del experimento
SEED=42
MAX_EVALUACIONES=10000
NUM_EJECUCIONES=50

# Parámetros del problema de optimización de cartera
LAMBDA=500.0

# Configuración de los algoritmos de búsqueda
LS_RATIO=0.4

# Selección de datasets a utilizar
# 0 = Usa los 3 mercados predeterminados (IBEX35, S&P100, S&P500)
# 1 = Usa únicamente el mercado personalizado que definas a continuación
USE_CUSTOM_MARKET=0
CUSTOM_NAME=Mercado_Prueba
CUSTOM_PATH=datos_portfolio_2526/ibex_35.csv
CUSTOM_LO=0.005
CUSTOM_HI=0.08